.dashboard{
  width: 81.9vw;
  position: absolute;
  right: 0;
  color: #B8C5D6;
  background-color: #1b2e35;

}

.dashboard0{
  width: 81.9vw;
  position: absolute;
  right: 0;
  background-color: #1b2e35;
  display: flex;
  justify-content: flex-start;
}

.dashboard1{
    width: 25vw;
    height: 80vh;
    display : inline-block;
    border: 1px ridge black;
    border-radius: 10px;
    background-color: rgb(161, 171, 179);
    box-shadow: 0px 0px 8px grey;
    transition: all 0.5s ease-in-out;
    margin: 20px;
}

.dashboardheader{
    margin: 20px;
    margin-left: 25px;
}
.heading{
  font-size: 1.5rem;
}
.boxes{
  width: 80vw;
}