.dashboard {
  width: 81.9vw;
  position: absolute;
  right: 0;
  color: #1b263b;
  background-color: #d6d9d3;
}

.dashboard0 {
  width: 81.9vw;
  height: auto;
  position: absolute;
  right: 0;
  background-color: #d6d9d3;
  display: flex;
  justify-content: flex-start;
}

.dashboard1 {
  width: 25vw;
  height: 80vh;
  display: inline-block;
  border: none;
  background-color: #d6d9d3;
  /* box-shadow: 0px 0px 5px grey; */
  transition: all 0.5s ease-in-out;
  /* margin: 20px; */
}

.dashboardheader {
  font-size: 5rem;
  margin: 20px;
  margin-left: 25px;
}
.heading {
  font-size: 1.5rem;
}
.boxes {
  width: 80vw;
}

.overall{
  width: auto;
  border: 0.5px solid grey;
  box-shadow: 0px 0px 4px black ;
  border-radius: 10px;
  margin:15px;
}

.bankacc{
  height: 40%;
  margin-top: 0;
}
.loans{
  height: 30%;
}
.insurance{
  height: 30%;
}
.income{
  height: 60%;
  margin-top: 0;

}
.flow{
  height: 40%;
}
.expense{
  height: 50%;
  margin-top: 0;
}
.mutual{
  height: 25%;
}
.equity{
  height: 25%;
}
