footer {
  background: #4e6a86; /* footer background */
  padding: 1rem 2rem;
  width: 100%;
  color: rgb(0, 0, 0);
  height: 16vh;
}
.link {
  color: #ffffff; /* white text to stand out on background */
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
  color: #007bff; /* Bootstrap blue hover */
}